html,
body {
    width: 100%;
    margin: 0;
}

button {
    margin: 5pt 0pt;
    background-color: Transparent;
    cursor: pointer;
    color: #f2f2f2;
    font-size: 1.5vw;
    border-radius: 3pt;
    background: #333;
}

button:hover {
    background-color: #ddd;
    color: #333;
}

.no-click {
    pointer-events: none;
}


/* https://www.w3schools.com/howto/howto_css_loader.asp */

.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9C27B0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.center-screen {
    position: absolute;
    top: 30%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}