body {
    font-family: Arial, Helvetica, sans-serif;
}

.codeDiv {
    background-color: black;
    color: white;
    display: inline-block;
}

h2 {
    font-style: bold;
    margin-left: 2%;
}

h3,
h4 {
    font-style: italic;
    margin-left: 2%;
}

p,
ul,
ol,
.codeDiv,
h1,
img {
    margin-left: 3%;
}

a {
    text-decoration: none;
    color: #17b8e9;
}