.logo {
    width: 78%;
    margin-left: 10px;
    font-size: xx-large;
}

section h2 {
    align-self: center;
    color: #9C27B0;
}

.navigation-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50pt;
    background-color: #9C27B0;
    font-size: 20px;
    color: white;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    color: #9C27B0;
    font-size: x-large;
}

form label {
    margin-left: 20pt;
    margin-right: 20pt;
}

form input {
    margin-left: 20pt;
    margin-right: 20pt;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border: #00BCD4;
    border-radius: 10pt;
    height: 40%;
    border-style: solid;
    color: #9C27B0;
}

.selected-field-wrapprer {
    color: green;
}

.deselected-field-wrapper {
    color: red;
}

.selected-navigation-button:hover {
    cursor: pointer;
}

.navigation-button:hover {
    cursor: pointer;
}

#filterSection {
    position: sticky;
    top: 10%;
    display: flex;
    flex-direction: column;
    width: 18%;
    margin-top: 10pt;
    height: 100%;
    border-radius: 10pt;
    border: solid #00BCD4;
}

#resultsTableSection {
    display: flex;
    flex-direction: column;
    width: 78%;
    height: 100%;
    margin: 10pt;
}

#resultsTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    position: relative;
    overflow: hidden;
}

#resultsTableHeadingRow {
    overflow: hidden;
}

.resultsTableHeadhing {
    font-size: xx-large;
    position: sticky;
    z-index: 2;
    top: 0;
    color: white;
    border: solid black;
    padding-top: 5pt;
    background-color: #9C27B0;
}

.resultsTableData {
    font-size: xx-large;
    position: relative;
    padding-top: 5pt;
    text-align: center;
    border: solid black;
}

.resultsTableRow {
    color: #9C27B0;
    text-align: center;
    border-color: black;
}

.resultsTableRow:hover>.resultsTableData:not(:hover) {
    background-color: rgb(197, 52, 223);
    color: white;
    border-color: solid black;
}

.resultsTableRow:hover>.resultsTableData:hover {
    background-color: rgb(167, 8, 196);
    color: white;
    border-color: solid black;
}

.separator {
    margin: 10pt;
}

.form-filter {
    position: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80%;
    padding-bottom: 50px;
}

#invisibleBackground {
    z-index: -1;
}

.invisible {
    z-index: -9999 !important;
}

#fieldsPopUpForm {
    padding: 4%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    position: fixed;
    background: white;
    width: 70%;
    height: 70%;
    top: 25%;
    left: 10%;
    opacity: 0;
    z-index: -1;
}

.visible {
    z-index: 2 !important;
    opacity: 1 !important;
}

.hidden-button {
    opacity: inherit;
    position: relative;
    float: bottom;
}

.selected-field {
    margin: 5px;
    padding: 5px;
    color: #9C27B0;
    border: solid black;
    border-radius: 20%;
}

.fieldsWrapper {
    opacity: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.selected-categorical-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: initial;
}

.selected-continuous-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: initial;
}

@media only screen and (max-width: 1000px) {
    main {
        flex-direction: column;
    }
    #filterSection {
        min-width: 100%;
        width: 100%;
        position: unset;
    }
    #resultsTableSection {
        min-width: 100%;
        width: 100%;
    }
}

#resultsTableDiv {
    overflow-x: auto;
    overflow-y: auto;
}

.grayout {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1 !important;
}

.flip {
    width: 100%;
    background-color: #333;
    color: white;
    border: solid 1px #8C38B9;
}