<!DOCTYPE html>

<html lang="en">

<head>
    <!--
        TO-DO: meta date
        TO-DO: links
    -->

    <!-- Top Navbar-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="navbar.css" type="text/css">
    <script src="index.js" defer=""></script>


</head>

<body>
    <!--
        (C): https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
    -->

    <div class="topNav" id="TopNavId">
        <a href="index.html#" class="active">Home</a>
        <a href="#"> Scores</a>
        <a href="results.html"> Results </a>
        <a href="statistics.html"> Statistics </a>
        <a href="javascript:void(0);" class="icon" onclick="makeResponsive()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div>
        <h3 id="homeTitle">
            Welcome to PiRO
        </h3>
        <p id="homeParagraph">
            We will discover a little more about Pisa tests and the Romanian results on this test.
        </p>
    </div>
</body>

</html>