<!DOCTYPE html>

<html lang="ro">

<head>
    <title>Statistics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="statistics.css" type="text/css">
    <link rel="stylesheet" href="navbar.css" type="text/css">
    <link rel="stylesheet" href="common.css" type="text/css">
    <link rel="stylesheet" href="filters.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="statistics.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <div id="invisibleBackground" onclick="closePopUp()"></div>
    <div class="topNav" id="TopNavId">
        <a href="#" id="menuBar">Menu</a>
        <a href="index.html">Home</a>
        <a href="#"> Scores</a>
        <a href="results.html"> Results </a>
        <a href="statistics.html#" class="active"> Statistics </a>
        <a href="javascript:void(0);" class="icon" onclick="makeResponsive()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <main>
        <div id="popUpForm">
            <select id="xOfGraph">
            </select>
            <select id="yOfGraph">
            </select>
            <select id="typeOfGraph">
                <option value="line">line graph</option>
                <option value="bar">bar graph</option>
                <option value="radar">radar graph</option>
                <option value="pie">pie graph</option>
                <option value="polar">polar graph</option>
                <option value="scatter">scatter graph</option>
                <option value="bubble">bubble graph</option>
                
            </select>
            <button id="confirmFieldsSelectionButton" class="hidden-button" onclick="addNewChart()">done</button>

        </div>
        <a href='#' class="floatingButton" onclick="openPopUp()">
            <i class="fa fa-plus my-float"></i>
        </a>

        <section id="graphsSection">
            <h2>Representations</h2>
        </section>
    </main>
</body>

</html>