<!DOCTYPE html>

<html lang="ro">

<head>
    <title>Statistacs</title>
    <link rel="stylesheet" href="./statistics.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="jquery-3.4.1.min.js"></script>
</head>

<body>
    <nav>
        <div class="logo">
            PiRo
        </div>
        <div class="navigation-buttons-container">
            <div class="navigation-button"> Home</div>
            <div class="navigation-button"> Scores</div>
            <div class="navigation-button"> Results</div>
            <div class="selected-navigation-button"> Statistics</div>
        </div>
    </nav>
    <main>
        <section id="filter-section">
            <h2>Filters</h2>
            <div class="form-filter">
                <form>
                    <label>Criteria 1</label>
                    <input type="text">
                    <label>Criteria 1</label>
                    <input type="text">
                    <label>Criteria 1</label>
                    <input type="text">
                    <label>Criteria 1</label>
                    <input type="text">
                </form>
            </div>
            <button>
                Export
            </button>
        </section>

        <section id="graphs-section">
            <h2>Representations</h2>

            <div class="main-graph">
                <canvas id="chart1"></canvas>
            </div>
            <div class="secondary-graphs">
                <div class="secondary-graph">
                    <canvas id="chart2"></canvas>
                </div>
                <div class="secondary-graph">
                    <canvas id="chart3"></canvas>
                </div>
            </div>
            <div class="main-graph">
                <canvas id="chart4"></canvas>
            </div>
            <div class="secondary-graphs">
                <div class="secondary-graph">
                    <canvas id="chart5"></canvas>
                </div>
                <div class="secondary-graph">
                    <canvas id="chart6"></canvas>
                </div>
            </div>
        </section>

    </main>
</body>
<script src="./statistics.js"></script>

</html>